<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="keywords" content="候鸟签证,VISA,签证办理,申根签,签证攻略,五年多次签证,十年多次签证,候鸟旅行">
  <meta name="description" content="候鸟签证,手机拍摄证件照,无需跑照相馆,智能识别护照/身份证,申请表和资料多国复用.可办理法国签证,美国签证,日本签证等多国签证,拒签退全款.">
  <link rel="stylesheet" href="./css/styles.css" />
  <link rel="stylesheet" href="./css/public.css" />
  <!-- <link rel="stylesheet" href="./css/iconfont.css" /> -->
  <link rel="stylesheet" href="./css/index.css" />
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1087147_phu7me0k0go.css" />
  <!-- 引入element样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <!-- On the page head -->
  <link rel="stylesheet" href="https://unpkg.com/fullpage.js/dist/fullpage.min.css">

  <title>候鸟签证,智能填表更轻松!</title>
  
</head>

<body>
  <div id="app">
    <!-- 固定头部 -->
    <header class="headers">
      <div class="logo-wraper">
        <div class="logo">
          <a href="./index.html">
            <img src="./img/logo.png" />
          </a>
        </div>
      </div>
    </header>

    <div id="container" :style="{ transform: `translateY(${slata})` }">
      <div class="section">
        <!-- banner图 -->
        <div class="banner">
          <el-carousel trigger="click" arrow="never" height="100vh">
            <el-carousel-item v-for="item in banners" :key="item">
              <div class="bg-pic" v-bgurl="item"></div>
            </el-carousel-item>
          </el-carousel>
        </div>
      </div>
  
      <div class="section p-flex p-fd-c p-jc-c">
        <!-- 标签项 -->
        <div class="label-box" ref="labelBox">
          <ul class="label-list p-flex p-jc-sb transition-05s" :class="[curIndex >= 1?'tsf-tsy':'']">
            <li class="item p-flex p-fd-c p-jc-c" v-for="(item, index) in labels" :key="index">
              <i class="iconfont" v-html="item.icon"></i>
              <p>{{ item.text }}</p>
            </li>
          </ul>
        </div>
        <div class="label-img">
          <img src="./img/text.png" :class="['text-img', 'transition-05s', curIndex >= 1?'tsf-tsy':'']" />
        </div>
      </div>
  
      <div class="section">
        <!-- 扫码 -->
        <div class="bg-pic" v-bgurl="codePicUrl"></div>
      </div>
  
      <!-- 识别信息 -->
      <div class="section info-container bg-pic" v-bgurl="item.pic" v-for="(item, index) in infoList" :key="index">
        <!-- <div class="bg-pic" ></div> -->

        <!-- 文字部分 -->
        <div :class="['font-box', 'transition-05s', index === 0 ? 'font-box-fff':'', curIndex >= index+3?'tsf-tsy':'']">
          <div class="title-box">
            <h2 class="big">{{ item.mainTitle }}</h2>
            <h5 class="small">{{ item.smallTitle }}</h5>
          </div>
          <ul class="features-list p-flex p-ai-c">
            <li class="item" v-for="(text, i) in item.promotTexts" :key="i">{{ text }}</li>
          </ul>
        </div>
      </div>
  
      <!-- 资料 -->
      <div class="section material-form p-flex">
        <div class="cell left p-flex p-jc-fe">
          <child-slogan :material="material" :position="{right: 0}" :class="['transition-05s', curIndex >= 6?'tsf-tsy':'']"></child-slogan>
        </div>
        <div class="cell right">
          <img src="./img/06.jpg" alt="">
        </div>
      </div>

      <!-- 申请表 -->
      <div class="section material-form form p-flex">
        <div class="cell">
          <img src="./img/05.jpg" alt="">
        </div>
        <div class="cell right">
          <child-slogan :material="form" :class="['transition-05s', curIndex >= 7?'tsf-tsy':'']"></child-slogan>
        </div>
      </div>
  
      <!-- 底部 -->
      <footer class="section footer">
        <div class="footer-info p-flex p-jc-sb">
          <p>Copyright © 2016 Houniao Inc. 保留所有权利</p>
          <p>粤ICP备16011971号-1</p>
        </div>
      </footer>
    </div>
  </div>
  
</body>


<!-- <script src="http://code.jquery.com/jquery-latest.js"></script> -->
<script src="./js/jquery.min.js"></script>
<script src="./js/vue.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
<!-- 引入element组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- Include after Vue (before closing body) -->
<script src="https://unpkg.com/vue-fullpage.js/dist/vue-fullpage.min.js"></script>

<script src="./js/index.js"></script>


</html>